page-fees {
    .feecard{
        font-size: 0.9rem;
        align-self: auto;
        width: 100%;
        margin: 5px;
      
        
    }

    .paybutton{
        border-radius: 2px;
        overflow: auto;
         height: auto;
         font-size: large;
         font-weight: 500;
         width: 100%;
         text-align: center;
            padding :5px;
         color: #fff;
         background-color: green;

    }

}
