<!--
  Generated template for the TeacherweeklyttPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Teacher Weekly Timetable</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-scroll scrollX="true" scrollY="true" style="width: 100%; height: 100%" scroll-table >
        <ion-list no-padding no-margin>
            <ion-item no-padding no-margin *ngFor="let shift of shifts">
                <ion-row no-padding no-margin >  
               <ion-col col-4 text-center wrap  no-padding no-margin  text-modifier>
                    {{shift?.shift}}    </ion-col>
               </ion-row>
      <table class="table" style="overflow-x:auto;" >
        
        <ion-row class="rows" >
          <ion-col col-2   ><ion-item no-lines style="font-size:small">Periods</ion-item></ion-col>
                <ion-col col-2  class="center calendar-header-col ;flex-flow: column " *ngFor="let period of periods[shift?.shift]" wrap style="text-align:center;">
                  <ion-item no-lines style="font-size: xx-small" >{{period?.period}}<br>{{period?.name}}<br>{{period.time_start }}<br>{{period.time_end }}
                  </ion-item></ion-col>
       </ion-row>
        
        <ion-row class="rows"   *ngFor="let head of weekHead ; let i=index;" >
            <ion-col col-2 class="columns" >
              <ion-item no-lines style="font-size: small"> {{head}}</ion-item></ion-col>
            
            <ion-col  col-2 class="columns" *ngFor="let period of schedule?.period" >
              <ion-row  class="rows" *ngFor="let group of schedule?.tt[i+1][period.period]"  style="flex-flow: column; padding: 0px" >
               
                    <span item-left style="font-size: smaller; padding: 0px" >{{group?.subject}}</span>
                    <span><ion-avatar   align-self-center style="width: 40px;height: 40px;margin: auto;">
                          <img src="{{group?.teacher_image_path}}" class="imgcenter">
                    </ion-avatar>
                        </span>
                      <span text-wrap style="font-size: xx-small">{{group.teacher_name}}</span>
                  
              </ion-row>
            </ion-col>
           
          </ion-row>
        </table>
 </ion-item></ion-list>
      </ion-scroll>
</ion-content>
