page-todaytimetable {

  
    .item-md.item-block .item-inner{
        padding-right: 0px;
    }

    .headspan{
        color: blue
    }

   
}
.select{
    margin: $select-popover-list-margin-end
}

.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto 
}