<!--
  Generated template for the HomeworksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  
    
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Homeworks</ion-title>
  </ion-navbar>
  <expandable-header [scrollArea]="mycontent" headerHeight="125">
      <ion-item>
          <ion-select [(ngModel)]="subject_selected" class="select"  (ionChange)="getsubjectHomework()" >
              <ion-option *ngFor="let sub of subjects"  value="{{sub.subject}}">{{sub.subject}}</ion-option>
              
            </ion-select>
      </ion-item>

      <ion-item>
          <ion-select [(ngModel)]="day" class="select"  (ionChange)="getSchedule()" >
              <ion-option value="1">monday</ion-option>
             
            </ion-select>
      </ion-item>
  </expandable-header>
  
</ion-header>


<ion-content padding  fullscreen #mycontent>
    <ion-spinner class="ion-spinner" center name="ios-small" *ngIf="loader">loading...</ion-spinner>




   
    <ion-list *ngFor="let day of date ;let i =index">
      <ion-list-header class="date" >
        <ion-icon item-left name="md-calendar"></ion-icon>{{day[0]}}
      </ion-list-header>  
        
        <ion-row class="subject-row" *ngFor="let subject of day_subjects[day[0]]">
          <ion-col col-2 class="subject"> {{subject}} <br> <span class="period" *ngIf="homework[i][day[0]][subject].period">Pd:{{homework[i][day[0]][subject]?.period}}</span> <br> <span *ngIf="homework[i][day[0]][subject].sub_subject">{{homework[i][day[0]][subject].sub_subject}}</span></ion-col>
          
          <ion-col >
            <ion-row>
              <ion-col col-3 class="points"  > Main Points </ion-col>
              <ion-col class="description" >  {{homework[i][day[0]][subject]?.main_points}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 class="points" > Assignment </ion-col>
                <ion-col class="description"  > {{homework[i][day[0]][subject]?.assignment}}</ion-col>
              </ion-row>
             <ion-row>
                    <ion-col col-3  class="points"  *ngIf="homework[i][day[0]][subject].teacher_remarks"> Remarks </ion-col>
                    <ion-col class="description"  > {{homework[i][day[0]][subject]?.teacher_remarks}}</ion-col>
                </ion-row>    
          </ion-col>
          
        </ion-row>
      
      
      
      
    </ion-list>
   
</ion-content>
