

<!--  <ion-calendar #calendar lang="en" [events]="currentEvents"
 (onDaySelect)="onDaySelect($event)"
  (onMonthSelect)="onMonthSelect($event)">
</ion-calendar> -->

<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>CALENDAR</ion-title>
       
       <button ion-button (click)="listsessionCalendar()">Session</button>
       <button ion-button (click)="listholidays()">Holidays</button>
 
   </ion-navbar>
</ion-header>

 <ion-content>

<ion-grid>
  
  <ion-row style="border-bottom: 1px solid black;">
    <ion-col col-auto (click)="back()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-col>
    <ion-col col-auto>
      <div>{{displayYear}} - {{displayMonth + 1}}</div>
    </ion-col>
    <ion-col col-auto (click)="forward()">
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </ion-col>
    <ion-col col-auto offset-5 (click)="today()" >Today </ion-col>
  </ion-row>
  



  <ion-row>
    <ion-col class="center calendar-header-col" *ngFor="let head of weekHead">{{head}}</ion-col>
  </ion-row>
  <ion-row class="calendar-row" *ngFor="let week of weekArray;let i = index">
    <ion-col class="center calendar-col" (click)="daySelect(day,i,j)" *ngFor="let day of week;let j = index" [ngClass]="[day.isThisMonth?'this-month':'not-this-month',day.isToday?'today':'',day.isSelect?'select':'']">
      {{day.date}} 
      <span class="eventBlip" *ngIf="day.hasEvent"></span>
    </ion-col>
  </ion-row>

</ion-grid>

<div *ngFor="let i of holidays" class="holiday">
    <span >{{i.event}} -{{i.eescription}}
<img src="{{i.doc_path}}">
    </span>
    </div>
 
</ion-content>





